<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Princesas de Disney</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main>
        <h1>Bienvenido al mundo de Disney</h1>
        <img src="/img/disney.png" width="325px">
        <p>Haremos un repaso de aquellas princesas que han dejado su huella</p>
        <table>
            <tr>
                <td><a href="jasmine.html"><img src="/img/jasmine.jpg" width="130"><br>Jasmine</a></td>
                <td><a href="bella.html"><img src="/img/bella.jpg" width="130"> <br> Bella</a></td>
                <td><a href="merida.html"><img src="/img/merida.jpg" width="130"> <br> Mérida</a></td>
                <td><a href="mulan.html"><img src="/img/mulan.jpg" width="130"> <br> Mulán</a></td>
                <td><a href="pocahontas.html"><img src="/img/pocahontas.jpg" width="130"> <br> Pocahontas</a></td>
                <td><a href="tiana.html"><img src="/img/tiana.jpg" width="130"> <br> Tiana</a></td>
                <td><a href="vaiana.html"><img src="/img/vaiana.jpg" width="130"> <br> Vaiana</a></td>
            </tr>
        </table>
    </main>
</body>
</html>