<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Princesas de Disney</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main>
        <h1>Bienvenido al mundo de las Princesas de Disney</h1>
        <img src="/img/disney.png" width="325px">
        <p>En ésta web encontraremos a aquellos personajes de Disney los cuales han dejado un valioso mensajes para la juventud</p>
        <ul>
            <li> <img src="/img/jasmine.jpg" width="50"> <br> Jasmine</li>
            <li> <img src="/img/bella.jpg" width="50"> <br> Bella</li>
            <li> <img src="/img/merida.jpg" width="50"> <br> Mérida</li>
            <li> <img src="/img/mulan.jpg" width="50"> <br> Mulán</li>
            <li> <img src="/img/pocahontas.jpg" width="50"> <br> Pocahontas</li>
            <li> <img src="/img/tiana.jpg" width="50"> <br> Tiana</li>
            <li> <img src="/img/vaiana.jpg" width="50"> <br> Vaiana</li>
        </ul>
    </main>
</body>
</html>