<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jasmine</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="jasmine">
    <main>
        <h1>Jasmine</h1>
        <img src="/img/jasmine.jpg" width="700px">
        <p>Nos ha enseñado a mirar el interior de las personas y no ser interesados.</p>
    </main>
    <footer>
        <a href="/"><input type="submit" value="Volver al inicio"></a> 
    </footer>
</body>
</html>