<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocahontas</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="pocahontas">
    <main>
        <h1>Pocahontas</h1>
        <img src="/img/pocahontas.jpg" width="700px">
        <p>Nos ha enseñado a no prejuzgar al otro por su raza o color.</p>
    </main>
    <footer>
        <a href="/"><input class="btn" type="submit" value="Volver al inicio"></a> 
    </footer>
</body>
</html>