<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiana</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="tiana">
    <main>
        <h1>Tiana</h1>
        <img src="/img/tiana.jpg" width="700px">
        <p>Nos ha enseñado que con esfuerzo podemos lograr cumplir nuestros sueños y no debemos prejuzgar a los demas por su aspecto</p>
    </main>
    <footer>
        <a href="/"><input type="submit" value="Volver al inicio"></a> 
    </footer>
</body>
</html>