<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaiana</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="vaiana">
    <main>
        <h1>Vaiana</h1>
        <img src="/img/vaiana.jpg" width="700px">
        <p>Nos ha enseñado que podemos expandir nuestros horizontes enfrentando nuestros miedos</p>
    </main>
    <footer>
        <a href="/"><input type="submit" value="Volver al inicio"></a> 
    </footer>
</body>
</html>